{% extends 'appss/base.html' %}
{% block js %}
    <script type="text/javascript" src="/static/js/apps.js"></script>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Lista de Apps </h1>
                {% if _logged_user  %}
                <a href="{{ admin_path }}" class="btn btn-success">{% trans %}Admin{% endtrans %}</a>
                <button id="mostrar-form-btn" class="btn btn-success">{% trans %}Create New app{% endtrans %}</button>
                <hr/>
                <div id="app-form" class="well">
                    <h1 class="text-center">app Form</h1>

                    <div role="form">
                        <input type="hidden" value="04dacef8c8ee6d7a4dc582034ad5db5e" name="_csrf_code">

                        <div id="nomeDiv" class="form-group">
                            <label for="nomeInput" class="control-label">Nome</label>
                            <input id="nomeInput" type="text" class="form-control" name="nome" value="">
                            <span id="help-nome" class="help-block"></span>
                        </div>

                        <div id="linkDiv" class="form-group ">
                            <label for="linkInput" class="control-label">Link </label>
                            <input id="linkInput" type="text" class="form-control" name="link" value="">
                            <span id="help-link" class="help-block"></span>
                        </div>

                        <div id="avaliacaoDiv" class="form-group ">
                            <label for="avaliacaoInput" class="control-label">Avaliação </label>
                            <input id="avaliacaoInput" type="text" class="form-control" name="avaliacao" value="">
                            <span id="help-avaliacao" class="help-block"></span>
                        </div>

                        <div id="descricaoDiv" class="form-group ">
                            <label for="descricaoInput" class="control-label">Descrição </label>
                            <input id="descricaoInput" type="text" class="form-control" name="descricao" value="">
                            <span id="help-descricao" class="help-block"></span>
                        </div>

                        <button id="salvar-btn" class="btn btn-success">Salvar</button>
                        <img id="ajax-gif" src="/static/img/ajax.gif" />
                    </div>
                </div>
                {% endif %}
                <hr/>

                <table class="table table-striped table-hover">
                    <thead>
                    <tr>

                        <th>{% trans %}Nome{% endtrans %}</th>
                        <th>{% trans %}Link{% endtrans %}</th>
                        <th>{% trans %}Avaliação{% endtrans %}</th>
                        <th>{% trans %}Descrição{% endtrans %}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id="corpo-tabela">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}