{% extends 'base/base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-social.css"/>
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css"/>
{% endblock %}
{% block body %}
    <div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="page-header">
				<h1>
					<img src="/static/img/play_logo_x2.png">Apps Review <small>The ultimate review for useless apps!</small>
				</h1>
			</div>
			<p><div class="col-md-4">
				<img src="/static/img/unnamed.png">
                </div>
            <div class="col-md-4">
				<img src="/static/img/unnamed2.png">
                </div>
            <div class="col-md-4">
				<img src="/static/img/unnamed3.png">
                </div>
			</p>
		</div>
	</div>
</div>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <h1>AppsSpot Review</h1>
                <p>{% trans %}Apps Review{% endtrans %}</p>
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-md-6">
                <div class="well">
                    <h2>{% trans %}Informações atualizadas da
                        <a href="https://play.google.com/store?hl=pt_BR">Google Play Store</a>{% endtrans %}
                    </h2>
                    <br/>

                    <p>
                        <a href="/appss" class="btn btn-primary"></i>{% trans %} Confira os apps cadastrados{% endtrans %} &raquo;</a>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="well">
                    <h2>{% trans %}Made with Tekton.{% endtrans %}</h2>
                    <br/>

                    <p>
                        <a href="https://github.com/renzon/tekton-fullstack" class="btn btn-social btn-github"><i
                                class="fa icon-github"></i>{% trans %}Check Git Hub Out{% endtrans %} &raquo;</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}