<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div>
        <div>
            <p>Teste</p>
        </div>
        <br/>

        <div>
            <a href="../">Página Teste usando .py no routes, lá. Sacoé?</a>
        </div>
        <div>

            <form action="" method="get">

                <fieldset>

                    1: <input type="text" name="" placeholder="lalala"/>
                </fieldset>

                <select>
                    <option value="1">iouahgudfysrt</option>
                    <option value="2">piuoyuftydrts</option>
                </select>

                OnlyOne <br/>
                <input type="radio" name="R" value="21"/> 21
                <input type="radio" name="R" value="22"/> 22

                Check
                <input type="checkbox" name="C" value="31" /> 31
                <input type="checkbox" name="C" value="32" /> 32

                <input type="submit" />

            </form>
        </div>
    </div>
</body>
</html>
