{% extends 'reviewss/base.html' %}
{% block body %}
    {% set reviews=reviews or None %}
    {% set errors=errors or None %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <br/>

                <div class="well">
                    <h1 class="text-center">{% trans %}reviews Form{% endtrans %}</h1>

                    <form action="{{ save_path }}" method="post" role="form">
                        {{ csrf_input() }}
                        {{ form_input(_('Link'),'link',reviews.link,errors.link) }}
                        {{ form_input(_('App'),'app',reviews.app,errors.app) }}
                        {{ form_input(_('Nota'),'nota',reviews.nota,errors.nota) }}
                        {{ form_input(_('Descricao'),'descricao',reviews.descricao,errors.descricao) }}
                        <button type="submit" class="btn btn-success">{% trans %}Save{% endtrans %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}